body {
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #CAEDFF;
}
.img{
    width: 500px;
    height: 500px;
    background-color: #CAEDFF;
}